/*!
 * Web Fonts from Fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2018 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Durotype
 * License URL: https://www.fontspring.com/licenses/durotype/webfont
 *
 *
 */

@font-face {
	font-family: 'Flexo-CapsDEMO';
	src: url('//db.onlinewebfonts.com/t/51ba22ae06790efd464bde752a2cd9d1.eot');
	src: url('//db.onlinewebfonts.com/t/51ba22ae06790efd464bde752a2cd9d1.eot?#iefix')
			format('embedded-opentype'),
		url('//db.onlinewebfonts.com/t/51ba22ae06790efd464bde752a2cd9d1.woff2')
			format('woff2'),
		url('//db.onlinewebfonts.com/t/51ba22ae06790efd464bde752a2cd9d1.woff')
			format('woff'),
		url('//db.onlinewebfonts.com/t/51ba22ae06790efd464bde752a2cd9d1.ttf')
			format('truetype'),
		url('//db.onlinewebfonts.com/t/51ba22ae06790efd464bde752a2cd9d1.svg#Flexo')
			format('svg');
}

body {
	font-family: 'Flexo-CapsDEMO';
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Flexo-CapsDEMO';
}

.main-header .logo {
	font-family: 'Flexo-CapsDEMO';
}
.text-blue-link {
	font-family: 'Flexo-CapsDEMO';
}
.sidebar-mini.sidebar-collapse {
	font-family: 'Flexo-CapsDEMO';
}

.border-right {
	border-right: 1px solid #f4f4f4;
}

fieldset.groupbox-border {
	border: 1px groove #fff !important;
	padding: 4px !important;
	margin: 1px !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}

legend.groupbox-border {
	font-weight: bold !important;
	text-align: left !important;
	width: auto;
	padding: 0px 10px 0px 10px;
	border-bottom: none;
	margin-bottom: 0px !important;
}

legend.groupbox-border {
	font-weight: bold !important;
	text-align: left !important;
	width: auto;
	padding: 0px 10px 0px 10px;
	border-bottom: none;
	margin-bottom: 0px !important;
}

.content {
	min-height: 50px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* TABLE */

.table > tbody > tr.success > td,
.table > tbody > tr.success > th,
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tfoot > tr.success > td,
.table > tfoot > tr.success > th,
.table > tfoot > tr > td.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > thead > tr.success > th,
.table > thead > tr > td.success,
.table > thead > tr > th.success {
	background-color: inherit !important;
	color: #00a65a;
	text-align: center;
}

.table > tbody > tr.success_action > td {
	background-color: #dff0d8 !important;
	color: #00a65a;
	text-align: center;
}

.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th,
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr.danger > td,
.table > tfoot > tr.danger > th,
.table > tfoot > tr > td.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > thead > tr.danger > th,
.table > thead > tr > td.danger,
.table > thead > tr > th.danger {
	background-color: inherit;
	color: #fb002c;
	text-decoration: line-through;
	text-align: center;
}

.box {
	border-top: 3px solid #ffffff;
}

.modal-header .box-header {
	color: #444;
	display: block;
	padding: 0px;
	position: relative;
	margin: 10px;
}

.table > tbody > tr.dangerlight > td,
.table > tbody > tr.dangerlight > th,
.table > tbody > tr > td.dangerlight,
.table > tbody > tr > th.dangerlight,
.table > tfoot > tr.dangerlight > td,
.table > tfoot > tr.dangerlight > th,
.table > tfoot > tr > td.dangerlight,
.table > tfoot > tr > th.dangerlight,
.table > thead > tr.dangerlight > td,
.table > thead > tr.dangerlight > th,
.table > thead > tr > td.dangerlight,
.table > thead > tr > th.dangerlight {
	background-color: inherit !important;
	color: #e08091;
}

.table-condensed td {
	text-align: left;
	border-top: 1px solid #ffffff !important;
}

.table-condensed th {
	text-align: right;
	border-top: 1px solid #ffffff !important;
	width: 35%;
}

.not-set {
	color: #ffc0cb;
}

.dataTables_wrapper > .row {
	margin-right: 0px;
	margin-left: 0px;
}

.dataTables_wrapper > .row > .col-sm-12 {
	overflow-x: auto;
	padding-right: 0px;
	padding-left: 0px;
}

.gridView {
	overflow-x: auto;
}

/*ROWS COLUMNS*/
.td-column {
	border: 1px solid #2e4053;
	width: 62px;
	height: 62px;
}

/*TEXT COLOR*/

.td-column-sm {
	border: 1px solid #2e4053;
	width: 27px;
	height: 27px;
}

.text-red {
	color: #dd4b39 !important;
}

.text-yellow {
	color: #ffbb22 !important;
}

.text-aqua {
	color: #00c0ef !important;
}

.text-blue {
	color: #0073b7 !important;
}

.text-black {
	color: #111 !important;
}

.text-light-blue {
	color: #3c8dbc !important;
}

.text-blue-link {
	color: #2675ec !important;
	font-size: 2rem;
	margin-bottom: 0.75rem;
	margin-top: 0.75rem;
}
h1 > .text-blue-link {
	font-size: 3.2rem;
}

.text-green {
	color: #00a65a !important;
}

.text-gray {
	color: #d2d6de !important;
}

.text-gray-dark {
	color: #c1c1c1 !important;
}

.text-navy {
	color: #001f3f !important;
}

.text-teal {
	color: #39cccc !important;
}

.text-olive {
	color: #3d9970 !important;
}

.text-lime {
	color: #01ff70 !important;
}

.text-orange {
	color: #ff851b !important;
}

.text-fuchsia {
	color: #f012be !important;
}

.text-purple {
	color: #605ca8 !important;
}

.text-maroon {
	color: #d81b60 !important;
}

/* BACKGROUND */

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
/* .callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success, */
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-active,
.label-aqua-active,
.label-blue .label-blue-active,
.label-danger,
.label-red,
.label-disable,
.label-fuchsia,
.label-fuchsia-active,
.label-gray-active,
.label-gray-dark,
.label-green-active,
.label-info,
.label-buffer,
.label-inf,
.label-num,
.label-txt,
.label-pos,
.label-neg,
.label-light-blue,
.label-light-blue-active,
.label-lime,
.label-lime-active,
.label-maroon,
.label-maroon-active,
.label-navy,
.label-navy-active,
.label-negative,
.label-olive,
.label-olive-active,
.label-orange,
.label-orange-active,
.label-yellow,
.label-yellow-active,
.label-positive,
.label-primary,
.label-purple,
.label-purple-active,
.label-red-active,
.label-success,
.label-green,
.label-teal,
.label-teal-active,
.label-warning,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
	color: #fff !important;
}
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success {
	color: #000000 !important;
}

.callout.callout-secondary {
	border-left-color: #6c757d;
}

.bg-black {
	color: rgba(0, 0, 0, 0.45);
	background-color: #111 !important;
}

.bg-red,
/* .callout.callout-danger, */
.alert-danger,
.alert-error,
.label-danger,
.label-red,
.label-positive,
.label-pos,
.label-disable,
.modal-danger .modal-body {
	color: rgba(0, 0, 0, 0.45);
	background-color: #dd4b39 !important;
}

.bg-yellow.info-box,
.small-box.bg-yellow,
/* .callout.callout-warning, */
.alert-warning,
.label-warning,
.modal-warning .modal-body {
	color: rgba(0, 0, 0, 0.45) !important;
	background-color: #ffbb22 !important;
}

.label-buffer {
	background-color: #686868 !important;
}

.bg-light-blue,
.label-primary,
.label-light-blue,
.label-txt,
.modal-primary .modal-body {
	color: rgba(0, 0, 0, 0.45);
	background-color: #3c8dbc !important;
}

.bg-green,
/* .callout.callout-success, */
.alert-success,
.label-success,
.label-negative,
.label-neg,
.label-active,
.label-green,
.modal-success .modal-body {
	color: rgba(0, 0, 0, 0.45);
	background-color: #00a65a !important;
}

.bg-navy,
.label-navy {
	color: rgba(0, 0, 0, 0.45);
	background-color: #001f3f !important;
}

.bg-teal,
.label-num,
.label-teal {
	color: rgba(0, 0, 0, 0.45);
	background-color: #39cccc !important;
}

.bg-olive,
.label-olive {
	color: rgba(0, 0, 0, 0.45);
	background-color: #3d9970 !important;
}

.bg-lime,
.label-lime {
	color: rgba(0, 0, 0, 0.45);
	background-color: #01ff70 !important;
}

.bg-orange.small-box,
.label-orange {
	color: rgba(0, 0, 0, 0.45) !important;
	background-color: #ff851b !important;
}

.bg-fuchsia,
.label-fuchsia {
	color: rgba(0, 0, 0, 0.45);
	background-color: #f012be !important;
}

.bg-purple,
.label-purple {
	color: rgba(0, 0, 0, 0.45);
	background-color: #605ca8 !important;
}

.bg-maroon,
.label-maroon {
	color: rgba(0, 0, 0, 0.45);
	background-color: #d81b60 !important;
}

.bg-gray-light {
	color: #00000073 !important;
	background-color: #f8f8f8 !important;
}

.bg-gray {
	color: #00000073 !important;
	background-color: #f1f1f1 !important;
}

.bg-active {
	color: #ffffff;
	background-color: #00a65a !important;
}

/* =========== */

.bg-assay-ab {
	color: #00000073 !important;
	background-color: #a3e4d7 !important;
}

.bg-assay-bf {
	color: #00000073 !important;
	background-color: #aed6f1 !important;
}

.bg-assay-el {
	color: #00000073 !important;
	background-color: #f9e79f !important;
}

.bg-assay-fc {
	color: #00000073 !important;
	background-color: #d7bde2 !important;
}

.bg-assay-gr {
	color: #00000073 !important;
	background-color: #f5cba7 !important;
}

.bg-assay-gt {
	color: #00000073 !important;
	background-color: #ffab91 !important;
}

.bg-assay-eh {
	color: #00000073 !important;
	background-color: #d7bde2 !important;
}

.bg-assay-pc {
	color: #00000073 !important;
	background-color: #bcaaa4 !important;
}

.bg-assay-st {
	color: #00000073 !important;
	background-color: #abebc6 !important;
}

.bg-assay-vi {
	color: #00000073 !important;
	background-color: #e6b0aa !important;
}

.bg-assay-wf {
	color: #00000073 !important;
	background-color: #d7bde2 !important;
}

.bg-assay-wt {
	color: #00000073 !important;
	background-color: #ccd1d1 !important;
}

/* =========== */

.bg-gray-dark,
.label-gray-dark,
.label-empty {
	color: rgba(0, 0, 0, 0.45);
	background-color: #c1c1c1 !important;
}

.bg-gray-active,
.label-gray-active {
	color: rgba(0, 0, 0, 0.45);
	background-color: #b5bbc8 !important;
}

.bg-blue-light {
	color: rgba(0, 0, 0, 0.45);
	background-color: #d9edf7 !important;
}

.bg-black-active {
	color: rgba(0, 0, 0, 0.45);
	background-color: #000 !important;
}

.bg-red-active,
.label-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
	color: rgba(0, 0, 0, 0.45);
	background-color: #d33724 !important;
}

.label-yellow {
	color: rgba(0, 0, 0, 0.45);
	background-color: #ffbb22 !important;
}

.bg-yellow-active,
.label-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
	color: rgba(0, 0, 0, 0.45);
	background-color: #ffbb22 !important;
}

.bg-aqua,
/* .callout.callout-info, */
.alert-info,
.modal-info .modal-body {
	color: rgba(0, 0, 0, 0.45);
	background-color: #00c0ef !important;
}

.label-aqua {
	color: rgba(0, 0, 0, 0.45);
	background-color: #00c0ef !important;
}

.bg-aqua-active,
.label-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
	color: rgba(0, 0, 0, 0.45);
	background-color: #00a7d0 !important;
}

.bg-blue-active,
.label-blue-active {
	color: rgba(0, 0, 0, 0.45);
	background-color: #005384 !important;
}

.bg-blue,
.label-info,
.label-inf,
.label-blue {
	color: rgba(0, 0, 0, 0.45);
	background-color: #0073b7 !important;
}

.bg-light-blue-active,
.label-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
	color: rgba(0, 0, 0, 0.45);
	background-color: #357ca5 !important;
	/* background-color: #d9edf7 !important; */
}

.bg-green-active,
.label-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
	color: rgba(0, 0, 0, 0.45);
	background-color: #008d4c !important;
}

.bg-navy-active,
.label-navy-active {
	color: rgba(0, 0, 0, 0.45);
	background-color: #001a35 !important;
}

.bg-teal-active,
.label-teal-active {
	color: rgba(0, 0, 0, 0.45);
	background-color: #30bbbb !important;
}

.bg-olive-active,
.label-olive-active {
	color: rgba(0, 0, 0, 0.45);
	background-color: #368763 !important;
}

.bg-lime-active,
.label-lime-active {
	color: rgba(0, 0, 0, 0.45);
	background-color: #00e765 !important;
}

.bg-orange-active,
.label-orange-active {
	color: rgba(0, 0, 0, 0.45);
	background-color: #ff7701 !important;
}

.bg-fuchsia-active,
.label-fuchsia-active {
	color: rgba(0, 0, 0, 0.45);
	background-color: #db0ead !important;
}

.bg-purple-active,
.label-purple-active {
	color: rgba(0, 0, 0, 0.45);
	background-color: #555299 !important;
}

.bg-maroon-active,
.label-maroon-active {
	color: rgba(0, 0, 0, 0.45);
	background-color: #ca195a !important;
}

.label {
	display: inline;
	padding: 0.2em 0.6em 0.3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25em;
}

/* LARGE BUTTONS */

.btn-block {
	display: block;
	width: 100%;
}

.btn-social {
	position: relative;
	padding-left: 44px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn-bitbucket {
	color: #fff;
	background-color: #205081;
	border-color: rgba(0, 0, 0, 0.2);
}

/* EVEN AND ODD VALUES */

.even-value {
	border: #ddd 1px;
	border-style: dotted;
	border-width: 2px;
	background-color: #d1d1d1;
	margin: 4px;
}

.odd-value {
	border: #ddd 1px;
	border-style: dotted;
	border-width: 2px;
	background-color: #f1f1f1;
	margin: 4px;
}

/* INFO BOX */
.info-box {
	display: table;
	min-height: 90px;
	background: #fff;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	margin-bottom: 15px;
}

.info-box-icon {
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
	display: block;
	float: left;
	height: 90px !important;
	width: 90px !important;
	text-align: center;
	font-size: 45px;
	line-height: 90px;
	background: rgba(0, 0, 0, 0.2);
}
.info-box-icon > i {
	font-size: 60px;
}

.info-box-content {
	padding: 5px 10px;
	margin-left: 90px;
	display: block !important;
}

.info-box-text {
	text-transform: uppercase;
}

.progress-description,
.info-box-text {
	display: block;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.info-box-number {
	display: block;
	font-weight: bold;
	font-size: 18px;
}

.info-box .progress,
.info-box .progress .progress-bar {
	border-radius: 0;
}

.info-box .progress {
	background: rgba(0, 0, 0, 0.2);
	margin: 5px -10px 5px -10px;
	height: 2px;
}

.progress,
.progress > .progress-bar,
.progress .progress-bar,
.progress > .progress-bar .progress-bar {
	border-radius: 1px;
}

.progress,
.progress > .progress-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.info-box .progress .progress-bar {
	background: #fff;
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease;
}

/* SWITCH PART-1*/

.custom-control {
	position: relative;
	display: block;
	min-height: 5rem;
	padding-left: 2.5rem;
	text-align: center;
}

.custom-control-text {
	position: relative;
	text-align: center;
	margin: 15px 0px;
}

.custom-control-input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

button,
input {
	overflow: visible;
}

label:not(.form-check-label):not(.custom-file-label) {
	font-weight: 700;
}

.custom-control-label {
	position: relative;
	margin-bottom: 0;
	vertical-align: top;
}

.custom-switch .custom-control-label::before {
	left: -3.25rem;
	width: 5rem;
	pointer-events: all;
	border-radius: 2.5rem;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

.custom-control-label::before {
	position: absolute;
	display: block;
	/* height: 5rem; */
	content: '';
	/* background-color: #00a65a; */
	/* border: #008d4c solid 1px; */

	background-color: #f4f4f4;
	border: #ddd solid 1px;

	box-shadow: inset 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
	/* min-height: 60px; */
}

/* .custom-control-input:checked~.custom-control-label::before {
	border-color: #d33724;
	background-color: #f56954;
	box-shadow: inset 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
} */

/* SWITCH PART-2*/
/* 
.custom-switch .custom-control-label::after {
	top: calc(0.25rem + 2px);
	left: calc(-3.25rem + 2px);
	width: calc(1.5rem - 4px);
	height: calc(1.5rem - 4px);
	background-color: #adb5bd;
	border-radius: 0.5rem;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
		-webkit-transform 0.15s ease-in-out;
}

.custom-control-label::after {
	position: absolute;
	top: 0.25rem;
	left: -2.5rem;
	display: block;
	width: 1rem;
	height: 1rem;
	content: "";
	background: no-repeat 50%/50% 50%;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
	background-color: #dee2e6;
	-webkit-transform: translateX(0.75rem);
	transform: translateX(0.75rem);
} */

.grid-view {
	overflow: auto;
}

.top-margin {
	margin-top: 20px;
}

.top-margin-lg {
	margin-top: 24px;
}

/* SWITCH SAMPLE */

.agent-result-content {
	padding: 10px;
	margin: 5px;
	border: 1px solid #ccc !important;
	border-radius: 10px;
	font-size: 1.2em;
}

/* NAV BAR ELEVATION */
.elevation {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

/* TABLE CLASS */
.table-cls table {
	border: 1px solid #f4f4f4;
	border-collapse: collapse;
	padding: 6px;
	text-align: center;
	margin: auto;
	background-color: #ffffff;
}

.table-cls th {
	border: 1px solid #337ab7;
	text-align: center;
	margin: auto;

	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;

	background-color: #3c8dbc;
	color: #fff;
}

.table-cls th a {
	color: #fff;
}

.table-cls td {
	border: 1px solid #f4f4f4;
	padding: 6px;
	text-align: center;
	margin: auto;
}

.simple-card {
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 20px 0px 20px 0px;
	border: 1px solid #ccc !important;
}

.invisible {
	display: none;
}
.visible {
	display: inherit;
}
.dataTables_filter {
	display: none;
}

.container-fluid > div {
	margin-left: auto;
	margin-right: auto;
	max-width: 1450px;
}

.content-header > .breadcrumb {
	background: #e4e4e4;
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1520px;
	border-radius: 2px;
	font-size: 12px;
	float: inherit;
	padding: 8px 15px;
	position: relative;
	top: 0px;
	right: 0px;
}

.content-header > .breadcrumb > li > a {
	color: #2675ec;
	text-decoration: none;
	display: inline-block;
}

/* MODAL SIZE */
.modal-xl {
	min-width: 1290px;
	width: 1190px;
}

.modal-lg {
	min-width: 992px;
	width: 900px;
}

.modal-md {
	min-width: 768px;
	width: 600px;
}

.modal-sm {
	min-width: 450x;
	width: 432px;
}

/* MARGIN INIT -FINAL */

.init-row-margin {
	margin-top: 20px;
	margin-bottom: 10px;
}

.final-row-margin {
	margin-bottom: 20px;
}

/* NAV TABS */

.nav-tabs {
	/* background-color: #ecf0f5; */

	/* background-color: #f5f5f5; */

	background-color: #f5f5f5ba;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	/* color: #2675ec !important; */
	color: #000 !important;
	/* cursor: default; */
	/* background-color: #fff; */
	/* border: 1px solid #ddd; */
	/* border-bottom-color: transparent; */
}

/* HR */
hr {
	border-top: 1px solid #f4f4f4;
}

/* LOADER */
#loader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-color: #6d6d6db4;
}

.loader-message {
	width: 300px;
	margin: auto;
	font-size: 3.6em;
	top: 40%;
	position: relative;
}

.tab-content {
	background-color: #fff;
}

/* .timeline {
	position: relative;
	padding: 0;
	list-style: none;
	width: 250px;
	margin: auto !important;
}

.timeline > li {
	position: relative;
	left: 40px;
	padding-top: 0px;
} */

.strike-through {
	text-decoration: line-through;
}

/* BUTTONS POSITIVE/NEGATIVE/NO DATA */

.class-results > .btn-danger {
	background-color: #d9534f;
	border-color: #d73925;
}

.class-results > .btn-success {
	background-color: #5cb85c;
	border-color: #008d4c;
}

/* SWITCH TOGGLE */
/* 
.toggle-group {
	position: absolute;
	width: 200%;
	top: 0;
	bottom: 0;
	left: 0;
	transition: left 0.35s;
	-webkit-transition: left 0.35s;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.toggle-on.btn-toggle {
	padding-right: 24px;
}

.toggle-on {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	margin: 0;
	border: 0;
	border-radius: 0;
}

.toggle-off.btn-toggle {
	padding-left: 24px;
}

.toggle-handle {
	position: relative;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 100%;
	width: 0px;
	border-width: 0 1px;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn-toggle {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
} */

/* .switch-toggle {
  width: 10em;
}

.switch-toggle label:not(.disabled) {
  cursor: pointer;
} */

/* .switch-toggle {
	float: left;
	background: #242729;
}
.switch-toggle input {
 position: absolute;
 opacity: 0;
}
.switch-toggle input + label {
 padding: 7px;
 float:left;
 color: #fff;
 cursor: pointer;
}
.switch-toggle input:checked + label {
 background: green;
} */

/* PANEL FORMAT  */
.panel-head-format {
	position: absolute;
	left: 30px;
	background-color: #ffffff;
	padding: 0px 5px;
	font-weight: bold;
	border: 1px solid #ccc !important;
	border-radius: 5px;
}

.panel-body-format {
	padding: 20px 10px 10px 10px;
	margin: 5px 0px;
	border: 1px solid #ccc !important;
	border-radius: 5px;
}

.select2-search__field {
	max-width: 400px;
}

.document_item {
	border-radius: 2px;
	background: #f8f9fa;
	border-left: 2px solid #e9ecef;
	color: #495057;
	margin-bottom: 2px;
	padding: 10px;
}

.body-report {
	width: 100%;
}

.val-req-pos-empty {
	border: 1px solid;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
}

.val-req-pos-fill {
	border: 1px solid;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	background-color: #696969;
}

.val-req-pos-select {
	border: 1px solid;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	background-color: #0073b7;
}
.scroll1 {
	overflow-y: auto;
	height: 313.73px;

	border: 1px solid #bbbbbb;
	border-radius: 5px;
	padding: 10px 0px 0px 0px !important;
	background-color: #f5f5f5;
}

.scroll1::-webkit-scrollbar {
	width: 5px;
}

.scroll1::-webkit-scrollbar-track {
	background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
	background: #666;
}

.scroll2 {
	overflow-y: auto;
	height: 700px;
	padding-right: 10px;
	padding-left: 15px;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
	padding: 10px 0px 0px 0px !important;
	background-color: #f5f5f5;
}

.scroll2::-webkit-scrollbar {
	width: 5px;
}

.scroll2::-webkit-scrollbar-track {
	background: #ddd;
}

.scroll2::-webkit-scrollbar-thumb {
	background: #666;
}

.grid-view .summary {
	float: left;
}

.grid-view .pagination {
	float: right;
}

th {
	text-align: center !important;
}

.nav-tabs-custom > .tab-content {
	background: #fff;
	padding: 0px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.row form {
	margin-bottom: 1em;
}

.detail-view > tbody tr th {
	text-align: right !important;
}

.navbar-fixed-top .container {
	width: 1450px;
}

.list-group-item {
	padding: 5px 15px;
}

.no-padding {
	padding: 0px !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #f9f9f960;
}

.alert-dismissable .close,
.alert-dismissible .close {
	position: relative;
	top: -7px;
	right: -33px;
	color: inherit;
}
