.ex {
  padding: 2rem;
  border: 1px solid grey;
}
.separator {
  border: 1px solid grey;
  margin: 1rem 0;
}
/* p {
  display: block;
  width: 100%;
  text-align: center;
  font-size: .8rem;
  text-transform: uppercase;
  color: gray;
  text-decoration: underline;
  padding: 1rem 0;
} */
.slider {
  position: relative;
  height: .5rem;
  margin-top: 1.25rem;
  margin-bottom: 2.25rem;
  background-color: #e6e6e6;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
}
.slider-handle {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  z-index: 1;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #2199e8;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border-radius: 0;
}
.slider-fill {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  max-width: 100%;
  height: .5rem;
  background-color: #cacaca;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}