.wrapper_aux {
  width: 12rem;
  height: 4rem;
  position: relative;
  margin: 1rem auto;
  border-radius: 2rem;
  background: #ecf0f5;
}
.wrapper_aux .toggle {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  left: 3.6rem;
  top: -0.4rem;
  border-radius: 50%;
  box-sizing: border-box;
  border: 0.25rem solid #c7c7c7;
  background: #f8f8f8;
  transition: all 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wrapper_aux label {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
  display: inline-block;
  text-align: center;
  line-height: 4rem;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  -webkit-animation: 0s rot-label ease-in-out infinite;
  -moz-animation: 0s rot-label ease-in-out infinite;
  -o-animation: 0s rot-label ease-in-out infinite;
  animation: 0s rot-label ease-in-out infinite;
}
.wrapper_aux input {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.yes_radio:checked {
  background: red;
} 
.yes_radio:checked ~ .toggle {
  border: 0.1rem solid #008000;
  background: #00b300;
  box-shadow: 0 0 0.2rem 0.1rem #008000 inset, 0 0 0.2rem 0.1rem #008000;
  left: -0.4rem;
} 
.no_radio:checked {
  background: red;
}
.no_radio:checked ~ .toggle {
  border: 0.1rem solid #ff0000;
  background: #ff3333;
  box-shadow: 0 0 0.2rem 0.1rem #ff0000 inset, 0 0 0.2rem 0.1rem #ff0000;
  left: 7.6rem;
}



/* #maybe_radio, #maybe-lbl {
  left: 33.33333%;
} */

/* #no_radio, #no-lbl {
  left: 66.66667%;
} */
/* 
#maybe-lbl {
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
} */

/* #no-lbl {
  -webkit-animation-delay: 4s;
  -o-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
} */



@-moz-keyframes rot-label {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-400deg);
  }
  18% {
    transform: rotate(-340deg);
  }
  20% {
    transform: rotate(-360deg);
  }
  30% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rot-label {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-400deg);
  }
  18% {
    transform: rotate(-340deg);
  }
  20% {
    transform: rotate(-360deg);
  }
  30% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rot-label {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-400deg);
  }
  18% {
    transform: rotate(-340deg);
  }
  20% {
    transform: rotate(-360deg);
  }
  30% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
